// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Find A Lab - jQuery Plugin
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/// Breakpoint
/// @type Number
$findalab-breakpoint: 1024px !default;

/// Height for component.
/// @type Number
$findalab-height: 400px !default;

/// Global padding for component.
/// @type Number
$findalab-padding: 16px !default;

/// Border for component.
/// @type Border (width, style, color)
$findalab-border:  1px solid #e2e2e2 !default;

/// Width for results list.
/// @type Number
$findalab-list-width: 310px !default;

/// Border radius for component.
/// @type Number
$findalab-radius: 6px !default;

/// Background for search area.
/// @type Color
$findalab-search-background: #f9f9f9 !default;

/// Color for nav
/// @type Color
$findalab-nav-color: #3398db !default;

/// Color for ihc (in-home collection) component
/// @type Color
$findalab-ihc-color: lighten(#3398db, 20%) !default;

/// Background for results.
/// @type Color
$findalab-results-background: #fff !default;

/// Background color for total area.
/// @type Color
$findalab-total-background: #f9f9f9 !default;

/// Box shadow for total area.
/// @type Box Shadow
$findalab-total-shadow: 0 -2px 15px 0 rgba(#111, 0.07) !default;

// Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.findalab__hide {
  display: none;
}

.findalab__text-right {
  text-align: right;
}

.findalab {
  border-radius: $findalab-radius;
  border: $findalab-border;
  box-sizing: border-box;
  position: relative;

  & * {
    box-sizing: border-box;
  }
}

.findalab__search {
  background: $findalab-search-background;
  border-bottom: $findalab-border;
  border-radius: $findalab-radius 0 0;
  padding: $findalab-padding;

  @media only screen and (min-width: $findalab-breakpoint) {
    width: $findalab-list-width;
  }

  .input-group {
    margin-bottom: 0;
  }
}

.findalab__search__title {
  margin: 0;
}

.findalab__search__desc {
  margin: 0;
  margin-bottom: 0.5rem;
}

.findalab__total {
  background: $findalab-total-background;
  border-radius: 0 0 0 $findalab-radius;
  border-top: $findalab-border;
  box-shadow: $findalab-total-shadow;
  padding: $findalab-padding;
  text-align: center;

  @media only screen and (min-width: $findalab-breakpoint) {
    width: $findalab-list-width;
  }
}

.findalab__map {
  display: none;
  width: 100%;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: block;
    height: 100%;
    left: $findalab-list-width;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc(100% - #{$findalab-list-width}); // interpolate for sass to interpret var
    border-left: $findalab-border;
    border-radius: 0 $findalab-radius $findalab-radius 0;
  }

  &.is-active {
    display: block;
  }
}

.findalab__map__embed {
  height: $findalab-height;
  width: 100% !important;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; // interpolate for sass to interpret var
  }
}

.findalab__results {
  background-color: $findalab-results-background;
  display: none;
  max-height: $findalab-height;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;

  @media only screen and (min-width: $findalab-breakpoint) {
    height: 450px;
    width: $findalab-list-width;
  }

  &.is-active {
    display: block;
  }
}

.findalab__result {
  border-bottom: $findalab-border;
  padding: $findalab-padding;

  &:last-of-type {
    border-bottom: 0;
  }
}

.findalab__nav {
  border: 2px solid $findalab-nav-color;
  margin-top: $findalab-padding/2;
  border-radius: $findalab-radius;
  font-size: 80%;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: none;
  }
}

.findalab__ihc {
  border: 3px solid $findalab-ihc-color;
  border-radius: $findalab-radius;
  margin: $findalab-padding;
  padding: $findalab-padding/2;
}

.findalab__ihc__title {
  color: #fff;
  background-color: $findalab-ihc-color;
  margin: -$findalab-padding/2;
  margin-bottom: 0;
  padding: $findalab-padding/2;
}

.findalab__nav__item {
  border: none;
  color: $findalab-nav-color;
  background-color: transparent;
  display: inline-block;
  padding: $findalab-padding/2;
  text-align: center;
  text-decoration: none;
  width: 50%;

  &:first-child {
    float: left;
  }

  &.is-active {
    text-decoration: none;
    color: #fff;
    background: $findalab-nav-color;
  }
}

.findalab__address-list {
  list-style: none;
  margin: 0;
}

.findalab__hours {
  display: none;
  margin-bottom: 0.5rem;

  table {
    margin-top: 6px;
    width: 100%;

    td {
      padding-bottom: 5px;
    }
  }
}

.findalab__small {
  font-size: 85%;
  font-style: italic;
}

.findalab__hours__wrap {
  display: none;
}
