// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Find A Lab - jQuery Plugin
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Variables
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/// Breakpoint
/// @type Number
$findalab-breakpoint: 1024px !default;

/// Height for component.
/// @type Number
$findalab-height: 400px !default;

/// Global padding for component.
/// @type Number
$findalab-padding: 16px !default;

/// Border for component.
/// @type Border (width, style, color)
$findalab-border:  1px solid #e2e2e2 !default;

/// Hover color for a result.
$findalab-hover:  #e2e2e2 !default;

/// Width for results list.
/// @type Number
$findalab-list-width: 310px !default;

/// Border radius for component.
/// @type Number
$findalab-radius: 6px !default;

/// Background for search area.
/// @type Color
$findalab-search-background: #f9f9f9 !default;

/// Font size for day filter
/// @type Number
$findalab-day-filter-text-size: 18px !default;

/// Color for nav
/// @type Color
$findalab-nav-color: #3398db !default;

/// Color for ihc (in-home collection) component
/// @type Color
$findalab-ihc-color: lighten(#3398db, 20%) !default;

/// Background color for initial findalab loading box.
/// @type Color
$findalab-background: #f9f9f9 !default;

/// Background for results.
/// @type Color
$findalab-results-background: #fff !default;

/// Border and badge color for recommended labs
/// @type Color
$findalab-recommended-color: #ffa500 !default;

/// @type Color
$findalab-opennow-color: #30b32f !default;

/// Recommended result border witdh
/// @type Number
$findalab-recommended-border-width: 3px !default;

/// Recommended info window tag font
/// @type Number
$findalab-infowindow-recommended-font: 10px !default;

/// Background color for total area.
/// @type Color
$findalab-total-background: #f9f9f9 !default;

/// Box shadow for total area.
/// @type Box Shadow

$findalab-total-shadow: 5px 5px 8px 6px rgba(#111,0.07) !default;

/// Height for the loading placholder.
/// @type Number
$findalab-loading-height: 644px !default;

/// Mobile Height for the loading placholder.
/// @type Number
$findalab-loading-height-mobile: 356px !default;

/// Color for the user location text
/// @type Color
$findlab-user-location-color: #7a8186 !default;

/// Font Weight for the user location button
/// @type number
$findalab-user-location-font-weight: 500 !default;

/// Font size for the hours section
/// @type Number
$findalab-hours-font-size: 15px !default;

/// Color for the radio button
/// @type Color
$findlab-radio-button-color: #ed9013 !default;

/// Border for component.
/// @type Border (width, style, color)
$findlab-radio-button-border: 2px solid #e3b77d !default;

/// Border for component.
/// @type Border (width, style, color)
$findlab-radio-button-checked-border: 2px solid #ed9013 !default;

// Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.findalab__hide {
  display: none;
}

.findalab__text-right {
  text-align: right;
}

%findalab-box {
  animation: fadeInOpacity 0.5s ease-in-out;
  animation-fill-mode: forwards;
  background-color: $findalab-background;
  border: $findalab-border;
  border-radius: $findalab-radius;
  box-sizing: border-box;
  position: relative;

  & * {
    box-sizing: border-box;
  }
}

.findalab {
  @extend %findalab-box;
  display: none;
}

.findalab-loading {
  @extend %findalab-box;
  align-items: center;
  display: flex;
  height: $findalab-loading-height-mobile;
  justify-content: space-around;
  text-align: center;

  @media only screen and (min-width: $findalab-breakpoint) {
    height: $findalab-loading-height;
  }
}

.findalab-loading__content {
  margin-top: -3rem;
}

.findalab__search {
  animation: fadeInOpacity 1s ease-in-out;
  animation-fill-mode: forwards;
  background-color: $findalab-results-background;
  border-bottom: $findalab-border;
  border-radius: $findalab-radius;
  margin-bottom: $findalab-padding/2;
  padding: $findalab-padding;
  box-shadow: $findalab-total-shadow;

  @media only screen and (min-width: $findalab-breakpoint) {
    width: $findalab-list-width;
  }

  .input-group {
    margin-bottom: 0;
  }
}

.findalab__search__title {
  margin: 0;
}

.findalab__search__desc {
  margin: 0;
  margin-bottom: 0.5rem;
}


.findalab__search__user-location {
  background: $findalab-background;
  border: $findalab-border;
  color: $findlab-user-location-color;
  font-weight: $findalab-user-location-font-weight;
  line-height: 1;
  margin-bottom: 20px;
  padding: 0;
  height:40px;
  width:40%;
  border-radius: $findalab-radius;


  &:hover {
    cursor: pointer;
  }
}

.findalab__search__day-filter {
  display: block;
  position: relative;
  margin-top: $findalab-padding;


  label {
    font-size: $findalab-day-filter-text-size;
  }
}

.findalab__total {
  animation: fadeInOpacity 1s ease-in-out;
  animation-fill-mode: forwards;
  background-color: $findalab-total-background;
  border-radius: 0 0 $findalab-radius $findalab-radius;
  border-top: $findalab-border;
  box-shadow: $findalab-total-shadow;
  padding: $findalab-padding/2;
  text-align: center;
  font-size: 20px;

  @media only screen and (min-width: $findalab-breakpoint) {
    width: $findalab-list-width;
  }
}

.findalab__box {
  margin: 3rem 1rem;
  z-index: 0;
}

.findalab__map {
  display: none;
  width: 100%;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-left: $findalab-border;
    border-radius: 0 $findalab-radius $findalab-radius 0;
    z-index: -1;
  }

  &.is-active {
    display: block;
  }
}

.findalab__map__embed {
  height: $findalab-height;
  width: 100% !important;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; // interpolate for sass to interpret var
  }
}

.findalab__results {
  animation: fadeInOpacity 1s ease-in-out;
  animation-fill-mode: forwards;
  background-color: $findalab-results-background;
  border-radius: $findalab-radius $findalab-radius 0 0;
  display: none;
  list-style-type: none;
  margin: 0;
  max-height: $findalab-height;
  overflow: auto;
  padding: 0;
  width: 100%;

  @media only screen and (min-width: $findalab-breakpoint) {
    height: 450px;
    width: $findalab-list-width;
  }

  &.is-active {
    display: block;
  }
}

.findalab__result {
  border-bottom: $findalab-border;
  padding: $findalab-padding;
  transition: background 0.25s ease;

  &:hover {
    background: $findalab-hover;
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.findalab__result--recommended {
  border-width: $findalab-recommended-border-width;
  border-color: $findalab-recommended-color;
  border-style: solid;
  padding-top: $findalab-recommended-border-width;
}

.findalab__result--recommended__label {
  background-color: $findalab-recommended-color;
  color: #ffffff;
  margin-left: -$findalab-padding;
  padding: 3px 5px;
}

.findalab__infowindow--recommended__label {
  background-color: $findalab-recommended-color;
  color: #ffffff;
  padding: 3px 5px;
  font-size: $findalab-infowindow-recommended-font;
}

.findalab__nav {
  border: 2px solid $findalab-nav-color;
  margin-top: $findalab-padding/2;
  border-radius: $findalab-radius;
  font-size: 80%;

  @media only screen and (min-width: $findalab-breakpoint) {
    display: none;
  }
}

.findalab__ihc {
  border: 3px solid $findalab-ihc-color;
  border-radius: $findalab-radius;
  margin: $findalab-padding;
  padding: $findalab-padding/2;

  &:hover {
    background: $findalab-hover;
  }
}

.findalab__ihc__title {
  color: #fff;
  background-color: $findalab-ihc-color;
  margin: -$findalab-padding/2;
  margin-bottom: $findalab-padding/2;
  padding: $findalab-padding/2;
}

.findalab__ihc__notice {
  line-height: 1;
}

.findalab__nav__item {
  border: none;
  color: $findalab-nav-color;
  background-color: transparent;
  display: inline-block;
  padding: $findalab-padding/2;
  text-align: center;
  text-decoration: none;
  width: 50%;

  &:first-child {
    float: left;
  }

  &.is-active {
    text-decoration: none;
    color: #fff;
    background: $findalab-nav-color;
  }
}

[type='button'].findalab__nav__item,
[type='submit'].findalab__nav__item {
  border-radius: 0;
}

.findalab__address-list {
  list-style: none;
  margin: 0;
}

.findalab__hours {
  display: none;
  margin-bottom: 0.5rem;
  font-size: $findalab-hours-font-size;

  table {
    margin-top: 6px;
    width: 100%;

    td {
      padding-bottom: 5px;
    }
  }
}

.findalab__hours__closed {
  font-size: 80%;
  font-style: italic;
  margin-top: 5px;
}

.findalab__hours__wrap {
  display: none;
}

.findalab__open {
  margin-right: 7px;
}

.findalab__open__dot {
  color: $findalab-opennow-color;
  font-size: 2em;
  position: relative;
  top: 4px;
  left: 3px;
}

.findalab__dayFilter {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  padding: 0 20px;

  input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  .findalab__radioButton {
    display: block;
    position: absolute;
    border: $findlab-radio-button-border;
    border-radius: 100%;
    height: 26px;
    width: 26px;
    top: 3px;
    margin-left: -30px;
  }

  .findalab__radioButton::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 2px;
    left: 2px;
    margin: auto;
  }

  input[type=radio]:checked ~ .findalab__radioButton {
    border: $findlab-radio-button-checked-border;
  }

  input[type=radio]:checked ~ .findalab__radioButton::before {
    background: $findlab-radio-button-color;
  }

  input[type=radio]:checked ~ label {
    color: $findlab-radio-button-color;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
